/* darkest gray: #505050 */
/*  */
/* lighter gray 2: #BDBDBD */
/* lighter gray: #E6E6E6 */
/* lightest gray: #EEEEEE */
/* Header Section */
header {
 background-color: #EEE;
}

.main-header {
 padding: 0 30px;
}

.main-header ul {
 display: grid;
 grid-template-columns: repeat(7, 1fr);
 height: 180px;
}

.main-header ul li {
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 10px;
}

.main-header ul li:first-child, ul li:last-child {
 justify-content: center;
}

.main-header .title, .sub-title {
 text-align: center;
}

.main-header .brand, .title, .topics {
 width: 100%;
}

.main-header .brand {
 background-color: #A0A0A0;
 height: 60%;
}

.main-header .title {
 background-color: #BDBDBD;
 height: 60%;
}

.main-header .topics {
 background-color: #A0A0A0;
 height: 40%;
 width: 80%;
}

.main-header .sub-title {
 background-color: #E6E6E6;
 height: 30%;
 width: 100%;
}

/* Main Section */
/*.main-content {
 position: relative;
}*/
.main-content .latest-articles {
 left: 0;
 margin-left: auto;
 margin-right: auto;
 position: absolute;
 right: 0;
 text-align: center;
 top: 220px;
 width: 400px;
}

.latest-articles {
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.latest-articles span {
 background-color: #777;
 height: 60px;
}

.latest-articles span:first-child {
 width: 100%;
}

.latest-articles span:last-child {
 width: 40%;
}

.article-summary {
 background-color: lightgray;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 650px);
}

.article-summary div {
 align-items: center;
 display: flex;
 flex-direction: column;
}

/* NB: Interfering with classes of the lower div */
.article-summary div:nth-child(1), div:nth-child(4) {
 background-color: #E6E6E6;
}

.article-summary div span {
 margin: 10px;
 width: 80%;
}

.article-summary .author {
 background-color: #A0A0A0;
 height: 60px;
 margin-top: 200px;
}

.article-summary .title {
 background-color: #777;
 height: 240px;
}

.article-summary .tags {
 background-color: #A0A0A0;
 height: 60px;
}

/* Latest Posts Section */
.latest-posts {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}

.latest-posts .article {
 display: flex;
 flex-direction: column;
 height: 650px;
 width: 25%;
}

.latest-posts .article-x2 {
 height: 800px;
 width: 50%;
}

.latest-posts .article-x2 .body {
 background-color: #E6E6E6;
 border-radius: 4px;
 height: 80%;
 margin: 0 auto;
 width: 90%;
}

.latest-posts .article .title, .body {
 margin: 0 auto;
 width: 70%;
}

.latest-posts .article .title {
 background-color: #BDBDBD;
 height: 120px;
 margin-top: 5rem;
}

.latest-posts .article .body {
 background-color: #EEE;
 height: 320px;
 margin-top: 1rem;
}

/* Newletter Section */
.newsletter {
 align-items: center;
 background-color: #E6E6E6;
 display: flex;
 flex-direction: column;
 height: 700px;
 justify-content: flex-start;
}

.newsletter .title {
 background-color: #808080;
 height: 80px;
 margin-top: 4rem;
 width: 40%;
}

.newsletter .sub-title {
 background-color: #909090;
 height: 100px;
 margin-top: 4rem;
 width: 40%;
}

.newsletter .icon {
 background-color: #505050;
 border-radius: 50%;
 height: 400px;
 margin-top: 4rem;
 width: 400px;
}

.community-links {
 display: grid;
 grid-template: repeat(4, 350px)/repeat(2, 1fr);
 /*	border: 1px solid black;
*/
 background-color: white;
}

.community-links div {
 display: flex;
 flex-direction: row;
 /*	border: 1px solid black;
*/
}

.community-links span {
 display: block;
 background-color: gray;
}

.community-links span.left {
 margin-top: 80px;
 margin-left: 30px;
 width: 100px;
 height: 100px;
 background-color: #505050;
 margin-right: 30px;
}

.community-links span.right {
 margin-top: 80px;
 width: 400px;
 height: 200px;
 background-color: #E6E6E6;
 margin-right: 30px;
}

.community-links div:nth-child(1) {
 grid-column: 1/3;
}

.community-links div .first-right {
 margin-top: 80px;
 width: 800px;
 height: 200px;
 background-color: #E6E6E6;
 margin-right: 30px;
}

.community-links div .first-left {
 margin-left: 100px;
 margin-top: 80px;
 width: 100px;
 height: 100px;
 background-color: #505050;
 margin-right: 30px;
}