*{
	box-sizing: border-box;
}
.main-header{
	padding: 0 30px;
}
.main-header .title{
	margin-top: 20px;
	background-color: lightgray;
}
.main-header ul{
	height: 100px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-color: darkgray;
}
.main-header li span{
	display: block;
	text-align: center;
}